body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #6e92a3;
    color: #ffffff;
    text-align: center;
    padding: 0px 0;
}

div {
background-color: #ffffff;
padding: 1px
}
nav ul {
    list-style-type: none;
    padding:0;
    text-align: center;
}

.img1 {
    height:px;
    width:px;
    align-content: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}
.container{
    width:80%;
    background-color:rgb(108, 176, 255);
    color:rgb(255, 255, 255);
    margin: auto;
    border:3px solid rgb(41, 66, 143);
    padding:40px;
    border-radius:50px}

    .container{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width:80%;
    background-color:rgb(108, 176, 255);
    color:rgb(255, 255, 255);
    margin-top: 50px;
    border:3px solid rgb(41, 66, 143);
    padding:40px}

    .imagem1{transition: all 0.5; cursor: pointer;}
    .imagem1:hover{-webkit-filter:blur(10px);filter: blur(10px);}
    